body {
    font-size: small;
    height: 100vh;
    background-color: #f0f0f0;
    background-color: rgb(72, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

}

#container {
    background-color: #333;;
    width:fit-content;
    padding: 85px 70px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 10), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
}



#btn {
    text-align: center;
    padding: 2%;
    background-color: #0074d4;
    color: rgb(255, 255, 255);
    font-family: Arial;
    letter-spacing: 1.5px;
    width: 250px;
    height: 25px;
    padding-top: 3%;
    border-radius: 7px;
    font-weight: bolder;
    outline: transparent;
    border: 0;
    position: relative;
    opacity: 70%;
    overflow: hidden;
}

#btntext {
    position: absolute;
    width: 100%;
    left: 0;
    line-height: 2em;
    
}

#btn:hover {
    cursor: var(--cursor-status);
}

.emote img {
    position: absolute;
    width: 15px;
    height: 15px;
    display: none;
}

#tick {
    animation-name: tickfade;
    animation-duration: 0.35s;
    animation-play-state: paused;
    animation-timing-function: linear;
    left: 50%;
    transform: translateX(-50%);
}
#tick, #loading{
    height: 20px;
    width: 20px;
}
#loading, #lock {
    top:50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

#lock{
    right: 1%;
    
    transform: translate(-50%, -50%); /* Centers both elements */
    
}
@keyframes tickfade {
    0% {
        scale: 0.5;
        transform: translateX(5000%);
        
    }
    
    100% {
        scale: 1;
        transform: translateX(0%);
    }
}
#credit {
    all: unset;
    width: 200px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(75, 75, 75);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10), 0 1px 3px rgba(255, 255, 255, 0.08);
    text-align: left;
    padding-left: 5px;
    font-size: medium;
}
#credit:focus{
    border: 2px solid rgb(90, 89, 89);
}
#error {
    color: red;
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

